body{
    margin: 0 auto;
    width: 800px;
    background: rgb(234,221,177);
    background-image: url(assets/background.jpg);
    font-family: Creepster;
    background-size: cover;

}

h1{
    text-align: center;
    font-size: 34px;
    height: 40px;
    margin: 15px 0 auto;
    /* Move to top after intro */
}
#playerturn{
    text-align: center;
    display: none;
    font-size: 24px;
    margin: 0 auto;
}

main{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 450px;
    width: 440px;
}

.ticbox{
    width: 140px;
    height: 140px;
    background: rgb(208,242,213,.5);    
    border: 1px solid black;
    margin: 2px;
    border-radius: 4px;
}

.player-1{
    background-image: url(assets/rick.png);
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
}

.player-2{
    background-image: url(assets/morty.png);
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
}

.introsplash{
    background: rgb(208,242,213,.5);
    background-image: url(assets/splashscreen.png);
    background-size: cover;
    margin: 0 auto;
    height: 450px;
    width: 650px;
    display: fixed;
    text-align: center;
    border: 4px groove white;
    /* Show Rick and Morty splash and begin button */
}

#startbutton{
    background-color: rgb(255,255,255,.5);
    width: 100px;
    height: 40px;
    margin: 60% 43% 0;
    font-size: 14px;
}

/* .titleimg{
    background-image: url(assets/title.png);
    width: 300px;
    height: 200px;
    margin: 0 auto;
} */

#cromulonload{
    
    background-image: url(assets/cromulon.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 30% auto;
    display: none;
    transition: 3s ease-out;
}


/* Player select screen CSS */

.playerselect{
    background: rgb(208,242,213,.5);
    margin: 0 auto;
    height: 450px;
    width: 650px;
    display: none;
    border: 4px groove white;
}

.playerselect h3{
    font-size: 30px;
    margin: 10% auto;
}

.selector{
    width: 150px;
    height: 150px;
    text-align: center;
}

.selectimages{
    margin: 10% auto;
    text-align: center;
}

#armselector{
    transition: 3s ease-in-out;
}

.playergoes{
    top: 20%;
    margin: 0 auto;
}

#begin{
    top: 10%;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 40px;
    background: rgb(255,255,255,.5);
    line-height: 40px;
    border-radius: 5px;
    display: none;
}

/* Style
Intro Sound: Show me what you got
Rick Moves: wub a lubba

Morty Moves: oh man 

Win: I like what you got

Loss: Disqualified (vs Computer)

Draw: whatever

Trying to click on an already clicked box: help!, 

Icon 1 -> Rick, Icon 2-> Morty
*/